@import "tailwindcss";
@plugin 'tailwindcss-animate';

:root {
  --background: #ffffff;
  --background-secondary: #d9d9d9;
  --foreground: #151515;
  --foreground-secondary: #999;
  --card-background: #f4f4f4;
  --border: #9c9c9c;
  --page-px: 24px;
  --page-py: 36px;
}

@theme inline {
  --breakpoint-3xl: 2560px;
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-card: var(--card-background);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-button: -6px 6px 0px 0px var(--border);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.pad-x-page {
  padding-left: var(--page-px);
  padding-right: var(--page-px);
}

.pad-y-page {
  padding-top: var(--page-py);
  padding-bottom: var(--page-py);
}

.inverted {
  background-color: var(--foreground);
  color: var(--background);
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--foreground-secondary);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--background);
  border-radius: 9999px;
  border: 2px solid var(--foreground);
}

::-webkit-scrollbar-track {
  width: 8px;
  background-color: var(--foreground);
  border: 2px solid var(--foreground);
}

/* HTML: <div class="triangle"></div> */
.triangle {
  width: 12px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: black;
}

.netv1 {
  background: radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        #151515 54% 57%,
        #0000 59%
      )
      0 calc(216px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        #151515 54% 57%,
        #0000 59%
      )
      calc(216px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      #151515 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      #151515 54% 57%,
      #0000 59%
    ),
    #ffffff;
  background-size: calc(216px / 4.667) 216px, 216px calc(216px / 4.667);
}

.longbar {
  background: linear-gradient(135deg, #0000 18.75%, #ffffff 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #ffffff -6.25% 6.25%, #151515 0 18.75%);
  background-size: 200px 200px;
}
