@import "tailwindcss";
@plugin 'tailwindcss-animate';

:root {
  --background: #ffffff;
  --background-secondary: #d9d9d9;
  --foreground: #151515;
  --foreground-secondary: #999;
  --border: #9c9c9c;
  --page-px: 24px;
  --page-py: 36px;
}

@theme inline {
  --breakpoint-3xl: 2560px;
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-button: -6px 6px 0px 0px var(--border);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.pad-x-page {
  padding-left: var(--page-px);
  padding-right: var(--page-px);
}

.pad-y-page {
  padding-top: var(--page-py);
  padding-bottom: var(--page-py);
}

.inverted {
  background-color: var(--foreground);
  color: var(--background);
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--foreground-secondary);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--background);
  border-radius: 9999px;
  border: 2px solid var(--foreground);
}

::-webkit-scrollbar-track {
  width: 8px;
  background-color: var(--foreground);
  border: 2px solid var(--foreground);
}

/* HTML: <div class="triangle"></div> */
.triangle {
  width: 12px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: black;
}
